@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header1-1 .btn {
  font-size: 24px;
}
#msg-box8-0 .mbr-section-title,
#msg-box8-0 p {
  color: #fff;
}
#msg-box8-0 .lead P {
  font-size: 20px;
}
#features6-0 H4 {
  color: #ffffff;
}
#features6-0 P {
  color: #ffffff;
}
#msg-box1-0 .btn {
  font-size: 24px;
}
#msg-box1-0 H3 {
  color: #ffffff;
}
#social-buttons1-0 .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-2 P {
  color: #ffffff;
}


/* RESOURCES PAGE */

.resources row {
    
}
.resources-title  {
    text-align:center;
    margin-left: 15px;
    margin-right: 15px;
}
.resources h1, h2 {
    color:white;
}

.resources h2 {    
    margin-top: 50px;
    margin-bottom: 50px;
}

.resource-item h3 {
  margin-bottom: 0; 
}

.resource-item h3 a {  
  color: #ffffff;
  font-size: 1.2rem;
}

.resource-item .resource-link {
  color: blue;
}

.resource-item a {
  font-size: 0.8rem;
}

.resource-item p {
  font-size: 14px;
}

/* For-* sections */
.mbr-section .mbr-section-title,
.mbr-section .lead p {
  color: #fff;
}
.mbr-section .lead P {
  font-size: 20px;
}

.card-text {
    color: #000000;
}

.mbr-cards-col {
    padding-top: 50px; 
    padding-bottom: 50px;
}

#features6-0 {
    background-color: rgb(40, 40, 40);
}

#features6-0 .mbr-cards-col {
    padding-top: 80px; 
    padding-bottom: 80px;
}

#features6-0 h1 {
    text-align: center;
    color: white;
    padding-top: 80px;
}

#mission-section {
    background-color: rgb(40, 40, 40);
}

#mission-section .mbr-cards-col {
    padding-top: 50px; 
    padding-bottom: 50px;
}

#mission-section h3 {
    text-align: center;
    color: white;
    padding-top: 80px;
}

#mission-section H4 {
  color: #ffffff;
}
#mission-section P {
  color: #ffffff;
}

#mission-section .fa {
  font-size: 100px;
    color: #f3c649;
}

#mission-section .card-block {
    padding-top: 1.5rem
}

#header-section {
    background-image: url(../../images/stencil-2000x1000-10.jpg);
}

#header-section h1 {
    text-align: center;
}

#header-section .mbr-overlay {
    opacity: 0.3; 
    background-color: rgb(0, 0, 0);
}

#header-section .mbr-section-title {
    font-size: 5rem;
   
    margin-bottom: 80px;
}

#header-section .mbr-section-lead {
    font-size: 2rem;
    text-align: center;
}

#streams-section {
    background-color: rgb(255, 255, 255);
}

#social-buttons1-0 {
    background-color: rgb(40, 40, 40); 
    padding-top: 60px; 
    padding-bottom: 30px;
}

#footer1-2 {
    background-color: rgb(40, 40, 40); 
    padding-top: 1.75rem; 
    padding-bottom: 1.75rem;
}

#main-intro {
    background-color: #ffffff; 
    padding-top: 120px; 
    padding-bottom: 50px;    
}

#main-intro .mbr-section-title,
#main-intro p {
  color: #000000;
}

#main-intro p {
  font-size: 20px;
}

#main-intro a, #header-section a {
    font-family: "Lora";
    font-style: italic;
    font-weight: 400; 
    color: #f3c649;
      text-decoration: none;
}

#main-intro a:hover, #header-section a:hover {
    color: #e1a90f;
    text-decoration: none;
       }